<div class="recent-posts-widget widget-item">
  <h3 class="widget-title">Recent Posts</h3>
  {% for post in posts %}
    <div class="post-item" >
      <div>
        <a href="{% url 'blog:single' pid=post.id %}">
        <img style="max-width: 100px; margin-bottom: 5px;" src="{{post.image.url}}" alt="{{post.image.url}}" />
      </div>
      <h4>{{post.title}}</a></h4>
      <time datetime="2020-01-01">{{post.published_date|date:"d-M-Y"}}</time>
    </div>
  {% endfor %}
  <!-- End recent post item -->
</div>
