{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load humanize %}
{% block content %}
  <main class="main">
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>{{ post.title }}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li>
              <a href="{% url 'website:index' %}">Home</a>
            </li>
            <li class="current">{{ post.title }}</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- End Page Title -->

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">
              <article class="article">
                <div class="post-img">
                  <img src="{{ post.image.url }}" alt="" class="img-fluid" />
                </div>

                <h2 class="title">{{ post.title }}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center">
                      <i class="bi bi-person"></i> <a href="#">{{ post.author.get_full_name }}</a>
                    </li>
                    <li class="d-flex align-items-center">
                      <i class="bi bi-clock"></i> <a href="#"><time>{{ post.published_date|date:'d M.Y' }}</time></a>
                    </li>
                    <li class="d-flex align-items-center">
                      <i class="bi bi-chat-dots"></i> <a href="#">{{comments|length}} Comments</a>
                    </li>
                  </ul>
                </div>
                <!-- End meta top -->

                <div class="content" style="text-align:justify;">
                  <p>{{ post.content|safe|linebreaksbr }}</p>
                </div>
                <!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li>
                      <a href="#">{{ post.category.all|join:', ' }}</a>
                    </li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li>
                      <a href="#">Creative</a>
                    </li>
                    <li>
                      <a href="#">Tips</a>
                    </li>
                    <li>
                      <a href="#">Marketing</a>
                    </li>
                  </ul>
                </div>
                <!-- End meta bottom -->
              </article>
            </div>
          </section>
          <!-- /Blog Details Section -->

          <!-- Blog Comments Section -->

          <section id="blog-comments" class="blog-comments section">
            <div class="container">
              <h4 class="comments-count">{{comments|length}} Comments</h4>
              {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img">
                    <img src="{{ post.image.url }}" alt="" />
                  </div>
                  <div>
                    <h5><a href="">{{comment.name}}</a> <!--<a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5> -->
                    <time datetime="2020-01-01">{{comment.created_date|naturalday}}</time>
                    <p>{{comment.message}}</p>
                  </div>
                </div>
                {% empty %}
                <h6>No comments yet &mdash; Be the first one to comment blow this post.</h6>
                {% endfor %}
            </div>
          </section>
          <!-- /Blog Comments Section -->

          <!-- Comment Form Section -->

          <section id="comment-form" class="comment-form section">
            <div class="container">
              <form method="post" action="{% url 'blog:single' pid=post.id %}">
                {% csrf_token %}
                <h4>Write a Comment</h4>
                <p>Your email address will not be published. Required fields are marked *</p>
                <input type="hidden" name="post" value="{{post.id}}">

                <div class="row">
                  <div class="col-md-6 form-group">
                    <input name="name" type="text" class="form-control" placeholder="Your Name*" />
                  </div>

                  <div class="col-md-6 form-group">
                    <input name="email" type="text" class="form-control" placeholder="Your Email*" />
                  </div>
                </div>

                <div class="row">
                  <div class="col form-group">
                    <input name="subject" type="text" class="form-control" placeholder="Your Subject" />
                  </div>
                </div>

                <div class="row">
                  <div class="col form-group">
                    <textarea name="message" class="form-control" placeholder="Your Comment*"></textarea>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </div>
                {% if messages %}
                  <ul class="messages">
                    {% for message in messages %}
                    <li {% if messages.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li> {% endfor %}
                  </ul>
                {% endif %}
              </form>
            </div>
          </section>

          <!-- /Comment Form Section -->
        </div>

        <div class="col-lg-4 sidebar">
          <div class="widgets-container">
            <!-- Blog Author Widget -->
            {% include 'blog/blog-writer.html' %}
            <!-- /Blog Author Widget -->

            <!-- Search Widget -->
            {% include 'blog/blog-search.html' %}
            <!-- /Search Widget -->

            <!-- Recent Posts Widget -->
            {% latestposts %}
            <!-- /Recent Posts Widget -->

            <!-- Category Widget -->
            {% postcategories %}
            <!-- /Category Widget -->

            <!-- Tags Widget -->
            {% include 'blog/blog-tags.html' %}
            <!-- /Tags Widget -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
